<a href="https://colab.research.google.com/github/sedrisella/Pemrograman-python/blob/main/Task_6_modul_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine Learning : Prediksi Harga Rumah
#dengan Regresi Linear (Multi Variabel)

In [23]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_csv('datarumah.csv')

In [24]:
#at digunakan untuk mengisi value(0)index ke 2,kolom kamar tidur
#cell yang kosong diisi dengan nilai 0
df.at[2,'kamartidur']=0
df

   luas      harga  kamartidur
0   120  130000000         NaN
1   135  148000000         NaN
2   140  160000000         0.0
3   180  210000000         NaN
4   220  285000000         NaN

   luas      harga  kamartidur
0   120  130000000         NaN
1   135  148000000         NaN
2   140  160000000         NaN
3   180  210000000         NaN
4   220  285000000         NaN

In [25]:
#mencari nilai median dari coloum kamar tidur
df.kamartidur.median()

0.0

In [26]:
 #membulatkan nilai ke bawah
import math
nilai_median_kamartidur= math.floor(df.kamartidur.median())
nilai_median_kamartidur

0

In [27]:
df.kamartidur.fillna(nilai_median_kamartidur)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: kamartidur, dtype: float64

In [29]:
df.kamartidur=df.kamartidur.fillna(nilai_median_kamartidur)
df

   luas      harga  kamartidur
0   120  130000000         0.0
1   135  148000000         0.0
2   140  160000000         0.0
3   180  210000000         0.0
4   220  285000000         0.0

In [33]:
reg =linear_model.LinearRegression()
reg.fit(df[['luas','kamartidur','kamarmandi']],df.harga)

In [38]:
import pandas as pd
df

   luas      harga  kamartidur
0   120  130000000         0.0
1   135  148000000         0.0
2   140  160000000         0.0
3   180  210000000         0.0
4   220  285000000         0.0